@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-left{
        margin-bottom: 50px;

    }
    .nav-right {
       flex-direction: column;
    }
    .right-items {
        margin-bottom: 30px;
    }
    .right-icon{
        padding: 20px;
    }
    .banner-container{
        flex-direction:column-reverse ;
        padding: 40px;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left{
        padding: 30px;
    }

    
}
@media screen and (min-width:576px) and (max-width:992px) 
{
    
    .nav-left{
        margin-bottom: 50px;

    }
    .nav-right {
       flex-direction: column;
    }
    .right-items {
        margin-bottom: 30px;
    }
    .right-icon{
        padding: 20px;
    }
    .banner-container{
        padding: 30px;
        flex-direction: row-reverse;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left{
        padding: 20px;
    }
}