@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1440px;
}

.nav-left .left-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-left .left-item img {
    width: 60px;
    height: 35px;
}

.nav-right {
    display: flex;
    align-items: center;

}

.nav-right a {
    text-decoration: none;
    color: #3C354F;
}

.nav-right li {
    list-style: none;
    margin-right: 20px;
}

.right-icon {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
    text-align: center;
}

/* nav section ends */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-left{
    background-image: url(Group\ 14.png);
    padding: 140px 250px 300px 200px;

}
.banner-left-btn {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.banner-left h3 {
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner-left-deccription {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;

}

.banner-left-deccription i {
    margin-right: 15px;
}

.banner-left h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 20px 30px;
    border-radius: 48px;
    border: none;
    transition: 1s;
    margin-top: 20px;
}

.sign {
    background: #FF42A5;
}

.rogue {

    background: #4EC5F7;
}
.sign:hover{
    background: #4EC5F7;
    cursor: pointer;
}
.rogue:hover{
    background: #FF42A5;
    cursor: pointer;
}

